@font-face {
    font-family: 'eSKY';
    src:    url('fonts/eSKY.eot?c360xb');
    src:    url('fonts/eSKY.eot?c360xb#iefix') format('embedded-opentype'),
        url('fonts/eSKY.ttf?c360xb') format('truetype'),
        url('fonts/eSKY.woff?c360xb') format('woff'),
        url('fonts/eSKY.svg?c360xb#eSKY') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'eSKY' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-stop:before {
    content: "\e907";
}
.icon-minus_2:before {
    content: "\e908";
}
.icon-plus_2:before {
    content: "\e909";
}
.icon-check:before {
    content: "\e900";
}
.icon-close:before {
    content: "\e901";
}
.icon-continue:before {
    content: "\e902";
}
.icon-info:before {
    content: "\e903";
}
.icon-minus:before {
    content: "\e904";
}
.icon-plus:before {
    content: "\e905";
}
.icon-start:before {
    content: "\e906";
}

