html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  background: #182531;
  color:  #f6f7f8;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 1.625rem;
  font-weight: normal;
  line-height: 1.625rem;
  margin: 0;
}
